<nav class="links">
    <ul>
        <li class="twitter"><a title="Twitter" href="http://twitter.com/pztrick"><i class="fa fa-fw fa-twitter-square"></i></a></li>
        <li class="github"><a title="GitHub" href="http://github.com/pztrick"><i class="fa fa-fw fa-github-square"></i></a></li>
	<li class="linkedin"><a title="LinkedIn" href="//linkedin.com/in/pztrick"><i class="fa fa-fw fa-linkedin-square"></i></a></li>
        <li class="rss"><a title="RSS Feed" href="/rss/"><i class="fa fa-fw fa-rss-square"></i></a></li>
    </ul>
</nav>
